<div class="container mx-auto text-center mt-20">
  <div class="shadow-xl rounded w-3/4 max-w-xl mx-auto p-8 border-gray-300 bg-white">
    <h1 class="text-2xl">ようこそ</h1>
    <p class="mt-24">どこかのだれかと2人でチャットできます</p>

    <%= form_with(model: @user) do |form| %>
      <div class="mt-32 w-3/4 mx-auto">
        <%= form.label :name, class: "text-left text-sm display block" %>
        <%= form.text_field :name, class: "mt-2 border-gray-400 rounded rounded w-full" %>
      </div>

      <div class="actions">
        <%= form.submit 'はじめる', class: "mt-24 bg-blue-600 py-2 px-4 rounded text-gray-50" %>
      </div>
    <% end %>
  </div>
</div>
